* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho {

    align-items: center;
    background-color: #1F2937;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0 10px 0 0;

    .logo-pet-adopt {
        height: 85px;
    }

    .botao {
        background-color: #F97415;
        border: none;
        border-radius: 10px;
        color: #FFFFFF;
        cursor: pointer;
        font-family: "Inter", sans-serif;
        padding: 5px 10px;
    }
}

.secao-pets {

    padding: 30px 15px;

    article {

        align-items: center;
        display: flex;
        height: 50vh;
        justify-content: space-between;

        .informacoes-pet {

            padding: 50px 50px 50px 15px;
            width: 470px;

            #nome-pet {
                color: #F97415;
                font-family: "Inter", sans-serif;
                font-size: 60px;
                margin-bottom: 10px;
            }

            .descricao-pet {
                font-family: "Inter", sans-serif;
                font-size: 18px;
            }
        }

        .scooby {
            border-radius: 10px;
            width: 500px;
        }
    }

    .navegacao-pets {

        display: flex;
        gap: 30px;
        justify-content: center;
        padding: 15px;

        a {

            .imagem-pet {
                border-radius: 100%;
                width: 175px;
            }
        }
    }
}

.secao-formulario {

    background-color: #F59F0B;
    height: 85vh;
    padding: 30px 15px;

    div {

        color: #FFFFFF;
        font-family: "Inter", sans-serif;
        text-align: center;

        h2 {
            padding: 10px 0 0 0;
        }

        p {
            margin-top: 10px;
        }
    }

    form {

        color: #FFFFFF;
        display: flex;
        font-family: "Inter", sans-serif;
        flex-direction: column;
        padding: 30px 15px;

        label {
            font-size: 18px;
        }

        input {

            border: none;
            border-radius: 5px;
            margin: 10px 0;
            padding: 10px;
            outline: none;

            &::placeholder {
                font-size: 16px;
            }
        }

        button {
            background-color: #F97415;
            border: none;
            border-radius: 5px;
            color: #FFFFFF;
            cursor: pointer;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            margin-top: 10px;
            padding: 10px 15px;
        }
    }
}

.rodape {

    background-color: #4B5563;
    padding: 15px;

    div {

        align-items: center;
        display: flex;
        justify-content: space-between;

        .logo-pet-adopt {
            height: 85px;
        }

        p {
            color: #9CA3AF;
            font-family: "Poppins", sans-serif;
            width: 560px;
        }

        .redes-sociais {
            display: flex;
            gap: 15px;
        }
    }

    p {
        color: #9CA3AF;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }
}
